@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* css */
* {
    font-family: 'Poppins', sans-serif;
}

/* sideBar */
/*
    DEMO STYLE
*/
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1e4afc;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1835b9;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #98a0c5;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

/* search-bar */
.search-bar {
    width: 100%;
    max-width: 400px;
    background-color: rgba(216, 216, 216, 0.438);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 3px 10px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 6px 5px;
    font-size: 12px;
    color: #ffffff;
}

.search-bar ::placeholder {
    color: white;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #e8f2fd;
    cursor: pointer;
}

/* box shadow */
.bg-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bg-shadow-2 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -1px;
}

/* background buram */
.bg-buram {
    background-color: rgb(236, 236, 236);
}

.bg-putih {
    background-color: rgb(255, 255, 255);
}


/* hover */
.hov {
    transition: all 150ms ease-in-out;
}

.hov:hover {
    box-shadow: rgba(17, 17, 22, 0.151) 0px 0px 10px;
}

/* auto width */
.mx-auto {
    width: max-content;
}

/* label text */
label {
    font-weight: 500;
    color: rgb(56, 56, 56);
}

.radio {
    font-weight: 300;
}

/* resize textarea */
textarea {
    resize: none;
    height: 100px;
}

/* button aksi */
.btn-aksi {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    background-color: #d1d9ff;
}

.aksi {
    position: fixed;
    bottom: 0;
    right: 0;
}